#weather
    .box
        background-color: #68b7cf
        padding: 38px
        margin: 140px 0
        border-radius: 30px
        .data
            h1,h2
                font-size: 30px
                color: #fff
                margin-bottom: 26px
        .btn
            padding: 12px
            margin: 10px auto
            display: block
            background-color: #68b7cf
            cursor: pointer
            border-radius: 25px
            width: 220px
            color: #fff
